<h1>Clock In</h1>
<span><%= current_user.username %></span>
<%= form_for @timekeeping, :url => timekeepings_url do |f| %>
<% if @projects %>
<%= f.collection_select(:project_id, @projects, :id, :name, {}, {:multiple => false}) %>
<% end %>
<%= f.submit  "Clock In"%>
<% end %>
